@model Assignment.Models.EmployeeLoginViewModel

@{
    ViewBag.Title = "Login";
}

<!------ Include the above in your HEAD tag ---------->

@Styles.Render("~/Content/login")

<div class="wrapper fadeInDown align-items-center">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Assets/images/pp.png" id="icon" alt="User Icon">
        </div>

        <!-- Login Form -->
        @using (Ajax.BeginForm("ValidateUser", "Login", null, new AjaxOptions { HttpMethod = "POST" },
            htmlAttributes: new { id = "loginForm", novalidate = "false", role = "form" })) {

            @Html.AntiForgeryToken()
            @Html.EditorFor(model => model.Username, new {
                htmlAttributes = new {
                @class = "fadeIn second",
                @placeholder = "username",
                @id = "username",
                @name = "username"
                }
            })
            @Html.EditorFor(model => model.Password, new {
                htmlAttributes = new {
                @class = "fadeIn third",
                @placeholder = "password",
                @id = "password",
                @name = "login"
                }
            })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "form-group text-danger", @id = "validateUsername" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "form-group text-danger", @id = "validatePassword" })

            @Html.ValidationSummary(true, "", htmlAttributes: new { @class = "form-group text-danger" })

            <div class="form-group" id="preloader" style="width: 100%; text-align: center; visibility:collapse; display: none; ">
                <img src="https://thumbs.gfycat.com/BitterEarnestBeardeddragon-small.gif" alt="" style="display: block;width:50px;height:50px;visibility: inherit;" />
                <span>Please Wait</span>
            </div>

            <input type="submit" class="fadeIn fourth" value="Log In">
        }

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        function ShowPreloader() {
            if (document.getElementById('preloader') != null) {
                document.getElementById('preloader').style.visibility = 'visible';
                $("#preloader").attr("display") = "block";
            }
        }
        
        $(document).ready(function () {
            $("#loginForm").submit(function (event) {
                alert("Testing");
                event.preventDefault();
                event.stopImmediatePropagation();
                var action = "/Login/ValidateUser;
                alert(action);
                $.ajax({
                    type: "POST",
                    url: action,
                    data: {
                        username: $("#username").val(),
                        password: $("#password").val()
                    },
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("fail");
                    }
                });
            }); //end .submit()
        });
        var onAjaxRequestSuccess = function (result) {
            if (result.EnableError) {
                // Setting.
                alert(result.ErrorMsg);
            } else if (result.EnableSuccess) {
                // Setting.
                alert(result.SuccessMsg);
                // Resetting form.
                $('#loginForm').get(0).reset();
            }
        }
    </script>
    }
